.banner {
  background-color: @brand-primary;
  a {
    color: @inverse-color;
  }
}

.menu-secondary {
  .make-sm-column(6);
}

.menu-secondary ul {
  list-style: none;
  padding: 0;
  line-height: 1;
  display: table;
  margin: @quarter-rhythm auto;
}

@media (min-width: @screen-sm-min) {
  .menu-secondary ul {
    float: right;
  }
}

.menu-secondary li {
  display: inline-block;
  float: left;
  border-right: 1px solid @inverse-color;
  padding-right: @half-rhythm;
  margin-right: @half-rhythm;
}

.menu-secondary li:last-child {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

.menu-secondary li a {
  font-size: @font-size-small;
}

.logo {
  display: table;
  margin: @quarter-rhythm 0;
  .make-sm-column(6);
}

nav .nav-tabs {
  .make-sm-column(12);
}

nav .nav-tabs {
  margin-top: @half-rhythm;
}

nav .nav-tabs li a {
  text-align: center;
}

nav .nav-tabs li,
.affix .nav-tabs li {
  width: 33%;
}


